.day-wrapper {
  text-align: center;
  color: #65686c;
  padding: 0;
  cursor: pointer;
  .day {
    height: 120px;
    width: 45px;
    border-radius: 49.5px;
    margin: 0 auto;
    color: #595d62;
    font-size: 12px;
    background: linear-gradient( 90deg, rgb(6, 6, 6) 0%, rgb(31, 40, 53) 100%);
    top: 0;
    left: 0;
    right: 0;
    p {
      border: 1px solid transparent;
      width: 80%;
      margin: 0 auto;
    }
  }
  .time-in {
    color: #ffffff;
    background: -webkit-linear-gradient( 90deg, rgb(110, 66, 248) 0%, rgb(242, 143, 185) 100%);
  }
  .glow-on-hover {
    opacity: 0;
    position: relative;
    z-index: 0;
    height: 120px;
    width: 45px;
    border-radius: 49.5px;
    margin: 0 auto;
    color: #595d62;
    font-size: 12px;

    @media only screen and (min-width: 801px) {
      &.active {
        opacity: 1;
      }
    }
  }
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #6e42f8, #f28fb9, #EEBD89, #AEBAF8, #F6EA41, #D13ABD, #0CCDA3, #B60F46);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 49.5px;
  }
  .glow-on-hover:after {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
