.other-data {
  margin-top: 35px;
  margin-bottom: 35px;
  .header {
    color: #ffffff;
  }
  div {
    background-color: #1f2835;
    color: #516a8e;
    border-radius: 10px;
    height: 45px;
    padding: 10px 15px;
    margin-bottom: 10px;
  }
}